section{
    width: 100%;
    padding-bottom: 30px;
}
section h2{
    text-align: center;
    font-size: 40px;
    color: var(--bgColor)
}

.color{
    background-image: linear-gradient(to bottom, rgb(var(--baseColor)), rgb(var(--darkColor)));
}
.white{
    background-color: var(--whiteBg);
}