section{
    width: 100%;
    background-color: var(--bgColor);
}
section h2{
    text-align: center;
    font-size: 40px;
}
.gallery{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
